@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-Inter;
  }

  /* Font style */
  .SectionTitle {
    @apply text-Cus_Blue text-2xl font-normal tracking-[5px] text-center pr-1 [writing-mode:vertical-rl] max-md:text-lg max-md:pr-0;
    -webkit-text-stroke: 0.4px currentColor;
  }
  .HintText {
    @apply text-xl tracking-[15px] max-md:text-lg max-md:tracking-[8px];
  }
  .HeavyTitle {
    @apply text-Cus_Blue font-black text-lg max-Spec_RWD01:text-base;
    -webkit-text-stroke: 0.5px currentColor;
  }
  .LittleText {
    @apply text-black text-15;
  }
  .LittleText2 {
    @apply text-black text-sm tracking-wide max-Spec_RWD01:text-[13px];
  }
  .MediumText {
    @apply text-black text-base tracking-tight;
  }
  .MemberTitle {
    @apply text-Cus_Orange text-base font-black;
  }
  .AdditionalText {
    @apply text-gray-500 text-sm;
  }
  .InfoSmText {
    @apply text-Cus_Blue text-sm font-black tracking-[15px] text-center max-md:tracking-[5px];
    -webkit-text-stroke: 0.6px currentColor;
  }

  .DateSmText {
    @apply text-Cus_Blue text-2xl font-black italic text-center;
  }

  /* Product page style */
  .ProductText {
    @apply text-2xl translate-x-1 font-semibold text-nowrap max-Spec_RWD02:text-xl;
  }

  .ProductSmText {
    @apply text-base translate-x-1 text-nowrap;
  }

  .ProductText_Orange {
    @apply ProductText text-Cus_Orange;
  }
  .ProductSmText_Orange {
    @apply ProductSmText text-Cus_Orange;
  }
  .ProductText_Blue {
    @apply ProductText text-Cus_Blue;
  }
  .ProductSmText_Blue {
    @apply ProductSmText text-Cus_Blue;
  }

  /* Layout & Style */
  .FlexToCenter {
    @apply flex justify-center;
  }

  .HeaderDeskDisplay {
    @apply h-svh w-full absolute;
  }
  /* .ScrollBarStyle {
    @apply@apply transition-all scrollbar-thin scrollbar-track-gray-100 scrollbar-thumb-Cus_Blue hover:scrollbar-thumb-Cus_Blue rounded-full;
  } */
  .ScrollBarStyle::-webkit-scrollbar {
    @apply w-2;
  }

  .ScrollBarStyle::-webkit-scrollbar-track {
    @apply bg-gray-100 rounded-full;
  }

  .ScrollBarStyle::-webkit-scrollbar-thumb {
    @apply bg-Cus_Blue rounded-full hover:bg-Cus_Orange transition-colors duration-500;
  }
}

@layer base {
  * {
    @apply duration-300;
  }
  ,
  html,
  body,
  div,
  span,
  applet,
  object,
  button,
  iframe,
  img {
    @apply select-none;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div {
    @apply selection:bg-Cus_Orange selection:text-white;
  }
}
